<a href="https://colab.research.google.com/github/calvin-vin/Python-problems-practice/blob/main/100_easy_python_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# day 13-14

In [ ]:
def alphabet_position(text):
  return " ".join(str(ord(x)-96) for x in text.lower() if x.isalpha())


alphabet_position("The sunset sets at twelve o' clock.")
# "20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11"

'20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11'

In [ ]:
def narcissistic( value ):
  # return value == sum(map(lambda x: int(x)**len(str(value)), str(value)))
  return value == sum(int(s) ** len(str(value)) for s in str(value))


narcissistic(7) # True
narcissistic(371) # True
narcissistic(122) # False
narcissistic(4887) # False

False

In [ ]:
def array_diff(a, b):
    return [i for i in a if i not in b]

array_diff([1,2], [1]) # [2]
array_diff([1,2,2], [1]) # [2,2]
array_diff([1,2,2], [2]) # [1]
array_diff([1,2,2], []) # [1,2,2]
array_diff([], [1,2]) # []

[2, 2]

In [ ]:
def accum(s):
    # return "-".join((a*i).capitalize() for i, a in enumerate(s, 1))
    return "-".join(a.upper() + a.lower() * i for i, a in enumerate(s))

accum("abcd") # "A-Bb-Ccc-Dddd"
accum("RqaEzty") # "R-Qq-Aaa-Eeee-Zzzzz-Tttttt-Yyyyyyy"
accum("cwAt") # "C-Ww-Aaa-Ttt

'C-Ww-Aaa-Tttt'

In [ ]:
def row_sum_odd_numbers(n):
    return n**3

row_sum_odd_numbers(1) # 1
row_sum_odd_numbers(2) # 8
row_sum_odd_numbers(13) # 2197
row_sum_odd_numbers(19) # 6859
row_sum_odd_numbers(41) # 68921

68921

In [ ]:
def row_sum_odd_numbers(n):
    return sum(i for i in range())

row_sum_odd_numbers(1) # 1
row_sum_odd_numbers(2) # 8
row_sum_odd_numbers(13) # 2197
row_sum_odd_numbers(19) # 6859
row_sum_odd_numbers(41) # 68921

In [ ]:
def open_or_senior(data):
    return ["Senior" if age >= 55 and handicap > 7 else "Open" for (age, handicap) in data]

open_or_senior([(45, 12),(55,21),(19, -2),(104, 20)]) #['Open', 'Senior', 'Open', 'Senior']
open_or_senior([(16, 23),(73,1),(56, 20),(1, -1)]) #['Open', 'Open', 'Senior', 'Open']

['Open', 'Open', 'Senior', 'Open']

In [ ]:
def disemvowel(string):
    return "".join(i for i in string if i.lower() not in 'aiueo')

disemvowel("This website is for losers LOL!")

'Ths wbst s fr lsrs LL!'

In [ ]:
def future_people(P, nP):
	return P + nP*12*30

future_people(256, 2) # 976
future_people(3248, 6) # 5408
future_people(5240, 3) # 6320

6320

# day 12

In [ ]:
def ohms_law(v, r, i):
  try:
    if i == None:
      return round(v/r, 2)
    elif r == None:
      return round(v/i, 2)
    elif v == None:
      return round(r*i, 2)
    else:
      return "Invalid"
  except:
    return "Invalid"

ohms_law(12, 220, None) # 0.05
ohms_law(230, None, 2) # 115
ohms_law(None, 220, 0.02) # 4.4
ohms_law(None, None, 10) # "Invalid"
ohms_law(500, 50, 10) # "Invalid"

'Invalid'

In [ ]:
def tuck_in(lst1, lst2):
  for i in lst2:
    lst1.insert(-1, i)
  return lst1

tuck_in([1, 10], [2, 3, 4, 5, 6, 7, 8, 9]) # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuck_in([15,150], [45, 75, 35]) # [15, 45, 75, 35, 150]
tuck_in([[1, 2], [5, 6]], [[3, 4]]) # [[1, 2], [3, 4], [5, 6]]

[[1, 2], [3, 4], [5, 6]]

In [ ]:
import math

def get_distance(a, b):
  x = a["x"] - b["x"]
  y = a["y"] - b["y"]
  return round(math.sqrt(x*x+y*y), 3)


get_distance({"x": -2, "y": 1}, {"x": 4, "y": 3}) # 6.325
get_distance({"x": 0, "y": 0}, {"x": 1, "y": 1}) # 1.414
get_distance({"x": 10, "y": -5}, {"x": 8, "y": 16}) # 21.095

21.095

In [ ]:
def temp_conversion(c):
	f = round(c*9/5+32, 2)
	k = round(c+273.15, 2)
	return 'Invalid' if k < 0 else [f, k]
	
temp_conversion(300.4) # [572.72, 573.55]
temp_conversion(42.8)

[109.04, 315.95]

# day 11

In [ ]:
def count_all(txt):
  return { "LETTERS":  sum(i.isalpha() for i in txt), "DIGITS": sum(i.isdigit() for i in txt) }

count_all("Hello World") # { "LETTERS":  10, "DIGITS": 0 }
count_all("H3ll0 Wor1d") # { "LETTERS":  7, "DIGITS": 3 }
count_all("149990") # { "LETTERS": 0, "DIGITS": 6 }

{'DIGITS': 6, 'LETTERS': 0}

In [ ]:
def count_palindromes(num1, num2):
  return sum(1 for i in range(num1, num2+1) if str(i) == str(i)[::-1])

count_palindromes(1, 10) # 9
count_palindromes(555, 556) # 1
count_palindromes(878, 898) # 3

3

In [ ]:
def find_nemo(sentence):
  for i,j in enumerate(sentence.split(" ")):
    if j == "Nemo":
      return "I found Nemo at " + str(i+1) +"!"
  return "I can't find Nemo :("

find_nemo("I am finding Nemo !") # "I found Nemo at 4!"
find_nemo("Nemo is me") # "I found Nemo at 1!"
find_nemo("I Nemo am") # "I found Nemo at 2!"

'I found Nemo at 2!'

In [ ]:
import math

def number_split(n):
  # return [math.floor(n/2), math.ceil(n/2)]
  return [n//2, n-n//2]	

number_split(4) # [2, 2]
number_split(10) # [5, 5]
number_split(11) # [5, 6]
number_split(-9) # [-5, -4]

[-5, -4]

In [ ]:
def split(txt):
  # return "".join([i for i in txt if i in 'aiueoAIUEO'] + [i for i in txt if i not in 'aiueoAIUEO'])
  return ''.join(sorted(txt, key=lambda x: x.lower() not  in 'aeiou'))

split("abcde") # "aebcd"
split("Hello!") # "eoHll!"
split("What's the time?") # "aeieWht's th tm?"

"aeieWht's th tm?"

In [ ]:
def spin_around(lst):
  # return abs(round(sum([90 if i == "right" else -90 for i in lst])/360))
  return abs((lst.count('left') - lst.count('right')) // 4)

spin_around(["left", "right", "left", "right"]) # 0
spin_around(["right", "right", "right", "right", "right", "right", "right", "right"]) # 2
spin_around(["left", "left", "left", "left"]) # 1

2

In [ ]:
def ascii_sort(lst):
  # summing = [sum(ord(i) for i in lst[0]), sum(ord(i) for i in lst[1])]
  # return lst[summing.index(min(summing))]
  return sorted(lst, key=lambda l: sum(map(ord, l)))[0]

ascii_sort(["hey", "man"]) # "man"
# ["h", "e", "y"] ➞ sum([104, 101, 121]) ➞ 326
# ["m", "a", "n"] ➞ sum([109, 97, 110]) ➞ 316

ascii_sort(["majorly", "then"]) # "then"

ascii_sort(["victory", "careless"]) # "victory"

'victory'

In [ ]:
def flatten_the_curve(lst):
  return [round(sum(lst)/len(lst),1) for _ in range(len(lst))]

flatten_the_curve([1, 2, 3, 4, 5]) # [3, 3, 3, 3, 3]
flatten_the_curve([0, 0, 0, 2, 7, 3]) # [2, 2, 2, 2, 2, 2]
flatten_the_curve([4]) # [4]
flatten_the_curve([]) # []
flatten_the_curve([-13, 0, -18])

[-10.3, -10.3, -10.3]

# day 9-10

In [ ]:
def numbers_sum(lst):
  return sum([i for i in lst if type(i)==int])

numbers_sum([1, 2, "13", "4", "645"]) # 3
numbers_sum([True, False, "123", "75"]) # 0
numbers_sum([1, 2, 3, 4, 5, True]) # 15

15

In [ ]:
import math

def factor_group(num):
  # return "odd" if len([i for i in range(1, num+1) if num % i == 0])%2 else "even"
  return "odd" if math.sqrt(num)%1 == 0 else "even"

factor_group(33) # "even"
factor_group(36) # "odd"
factor_group(7) # "even"

'even'

In [ ]:
def reverse(txt):
  if txt == '':
    return txt
  return txt[-1] + reverse(txt[:-1])

reverse("hello") # "olleh"

'olleh'

In [ ]:
def remove_vowels(string):
  vowels = "aeiou"
  return "".join(i for i in string if i not in vowels)

remove_vowels("ben") # "bn"
remove_vowels("hello") # "hllo"
# The "e" is removed, but the "o" is still there!
remove_vowels("apple") # "appl"
# The "e" is removed, but the "a" is still t

'ppl'

In [ ]:
import re

txt = "Texas = no, California = yes, Florida = yes, Michigan = no"
pattern = "(\w+) (?!= yes)"

re.findall(pattern, txt) # ["Texas", "Michigan"]

['Texas', 'Michigan']

In [ ]:
import re

txt = "Texas = no, California = yes, Florida = yes, Michigan = no"
pattern = '\w+(?=\s=\syes)'

re.findall(pattern, txt) # ["California", "Florida"]

['California', 'Florida']

In [ ]:
import re

pattern = "\Bend\B"

bool(re.search(pattern, "The end of the story."))# False
bool(re.search(pattern, "Endings are pointless."))# False
bool(re.search(pattern, "Let's send!"))# False
bool(re.search(pattern, "We viewed the rendering at the end."))# True
bool(re.search(pattern, "Sometimes bending the rules is good."))# True

True

In [ ]:
import re

pattern = "^/users/edabit"

bool(re.search(pattern, "/users/edabit/python/regex.py")) # True
bool(re.search(pattern, "/users/edabitt/python/file.txt")) # False
bool(re.search(pattern, "/users/pyter/edabit/file.py")) # False

True

In [ ]:
def prevent_distractions(txt):
  no_watch = ("anime", "meme", "vines", "roasts", "Danny DeVito")
  # for no in no_watch:
  #   if no in txt:
  #     return "NO!"
  # return "Safe watching!"
  return "NO!" if any(i in txt for i in no_watch) else "Safe watching!"

prevent_distractions("vines that butter my eggroll") # "NO!"
prevent_distractions("Hot pictures of Danny DeVito") # "NO!"
prevent_distractions("How to ace BC Calculus in 5 Easy Steps") # "Safe watching!"

'NO!'

In [ ]:
def war_of_numbers(lst):
  return abs(sum(i if i%2 else -i for i in lst))

war_of_numbers([2, 8, 7, 5]) # 2
# 2 + 8 = 10
# 7 + 5 = 12
# 12 is larger than 10
# So we return 12 - 10 = 2

2

In [ ]:
def jazzify(lst):
  return [i if i.endswith('7') else i+'7' for i in lst]

jazzify(["G", "F", "C"]) # ["G7", "F7", "C7"]
jazzify(["Dm", "G", "E", "A"]) # ["Dm7", "G7", "E7", "A7"]
jazzify(["F7", "E7", "A7", "Ab7", "Gm7", "C7"]) # ["F7", "E7", "A7", "Ab7", "Gm7", "C7"]
jazzify([]) # []

[]

In [ ]:
def odds_vs_evens(num):
  # odd = sum(int(i) for i in str(num) if int(i)%2)
  # even = sum(int(i) for i in str(num) if not int(i)%2)
  # return "odd" if odd > even else "even" if even > odd else "equal"
  total = sum(int(i) if int(i)%2 else -int(i) for i in str(num))
  return "odd" if total > 0 else "even" if total < 0 else "equal"

odds_vs_evens(97428) # "odd"
# odd = 16 (9+7)
# even = 14 (4+2+8)

odds_vs_evens(81961) # "even"
# odd = 11 (1+9+1)
# even = 14 (8+6)

odds_vs_evens(54870) # "equal"
# odd = 12 (5+7)
# even = 12 (4+8+0)

'equal'

In [ ]:
def print_all_groups():
	return ", ".join(i+j for i in '123456' for j in 'abcde')
 
print_all_groups()

'1a, 1b, 1c, 1d, 1e, 2a, 2b, 2c, 2d, 2e, 3a, 3b, 3c, 3d, 3e, 4a, 4b, 4c, 4d, 4e, 5a, 5b, 5c, 5d, 5e, 6a, 6b, 6c, 6d, 6e'

In [ ]:
def inclusive_list(start_num, end_num):
  # return [start_num] if start_num > end_num else [i for i in range(start_num, end_num+1)]
  return list(range(start_num, end_num+1)) or [start_num]

inclusive_list(1, 5) # [1, 2, 3, 4, 5]
inclusive_list(2, 8) # [2, 3, 4, 5, 6, 7, 8]
inclusive_list(10, 20) # [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
inclusive_list(17, 5) # [17]

[17]

In [ ]:
def to_list(num):
  return [int(i) for i in str(num)]
	

def to_number(lst):
  return int("".join(str(i) for i in lst))

to_list(235) # [2, 3, 5]
to_list(0) # [0]
to_number([2, 3, 5]) # 235
to_number([0]) # 0

0

In [ ]:
def integer_boolean(n):
	# return [bool(int(i)) for i in n]
  return [i == '1' for i in n]

integer_boolean("100101") # [True, False, False, True, False, True]

[True, False, False, True, False, True]

#day 8

In [ ]:
import re

pattern = "\.pyw?$" #"\.py$|\.pyw$"

bool(re.search(pattern, "/users/file.py")) # True
bool(re.search(pattern, "/users/file.pyw")) # True
bool(re.search(pattern, "/users/python/file.txt")) # False
bool(re.search(pattern, "/users/file.opy")) # False

False

In [ ]:
def hamming_distance(txt1, txt2):
  # return sum(1 for i in range(len(txt1)) if txt1[i] != txt2[i])
  return sum(x != y for x,y in zip(txt1, txt2))


hamming_distance("abcde", "bcdef") # 5
hamming_distance("abcde", "abcde") # 0
hamming_distance("strong", "strung") # 1

1

In [ ]:
def count(deck):
  # sum = 0
  # for card in deck:
  #   if card in [2,3,4,5,6]:
  #     sum += 1
  #   elif card in [10,"J","Q","K", "A"]:
  #     sum -= 1
  # return sum
  return sum(1 if i in [2,3,4,5,6] else -1 if i in [10,"J","Q","K", "A"] else 0 for i in deck)
  

count([5, 9, 10, 3, "J", "A", 4, 8, 5]) # 1
count(["A", "A", "K", "Q", "Q", "J"]) # -6
count(["A", 5, 5, 2, 6, 2, 3, 8, 9, 7]) # 5

5

In [ ]:
def inator_inator(inv):
  return inv + ["inator", "-inator"][inv[-1].lower() in 'aiueo'] + " " + str(len(inv)) + "000"

inator_inator("Shrink") # "Shrinkinator 6000"
inator_inator("Doom") # "Doominator 4000"
inator_inator("EvilClone") # "EvilClone-inator 9000"

'EvilClone-inator 9000'

In [ ]:
def convert_to_number(dct):
  return {key: int(value) for key,value in dct.items()} 

convert_to_number({ "piano": "200", "tv": "300", "stereo": "400" }) # { "piano": 200, "tv": 300, "stereo": 400 }

{'piano': 200, 'stereo': 400, 'tv': 300}

In [ ]:
def third_most_expensive(dct):
  try:
    return sorted(dct, key=dct.get, reverse=True)[2]
  except:
    return False

third_most_expensive({}) # False
third_most_expensive({"piano": 100}) # False
third_most_expensive({"piano": 100, "stereo": 200 }) # False
third_most_expensive({"piano": 100, "stereo": 200, "tv": 10 }) # "tv"
third_most_expensive({"piano": 100, "stereo": 200, "tv": 10, "timmy": 500 }) # "piano"
third_most_expensive({"computer": 1000, "piano": 500, "stereo": 200, "tv": 10, "timmy": 1 }) # "stereo"

False

In [ ]:
def add_name(obj, name, value):
  # obj[name] = value
  # return obj
  obj.update({name: value})
  return obj

add_name({}, "Brutus", 300) # { "Brutus": 300 }
add_name({ "piano": 500 }, "Brutus", 400) # { "piano": 500, "Brutus": 400 }
add_name({ "piano": 500, "stereo": 300 }, "Caligula", 440) # { "piano": 500, "stereo": 300, "Caligula": 440 }

{'Caligula': 440, 'piano': 500, 'stereo': 300}

In [ ]:
def find_it(items, name):
  # return name.capitalize() + " is here!" if name not in items else name.capitalize() + " is gone..."
  return "{} is {}".format(name.title(), "gone..." if name in items else "here!")


find_it({
  "tv": 30,
  "stereo": 50,
}, "rocky")

'Rocky is here!'

# day 7

In [ ]:
def most_expensive_item(products):
  return max(products, key=products.get)

most_expensive_item({
  "tv": 30,
  "skate": 20,
  "stereo": 50,
})

'stereo'

In [ ]:
def calculate_losses(items):
	# return "Lucky you!" if len (items) == 0 else sum(items.values())
  return sum(items.values()) or "Lucky you!"

calculate_losses({
  "tv" : 30,
  "skate" : 20,
  "stereo" : 50,
}) # 100

calculate_losses({
  "painting" : 20000,
}) # 20000

calculate_losses({}) # "Lucky you!"

'Lucky you!'

In [ ]:
def minutes_to_seconds(time):
  # min, sec = time.split(":")
  # return False if int(time[-2:]) >= 60 else int(min)*60 + int(sec)

  m,s = map(int, time.split(":"))
  return False if s >= 60 else m*60 + s

minutes_to_seconds("01:00") # 60
minutes_to_seconds("13:56") # 836
minutes_to_seconds("10:60") # False

False

In [ ]:
def is_anagram(s1, s2):
  # for i in s1:
  #   if i.lower() not in s2.lower() or len(s1) != len(s2):
  #     return False 
  # return True
  return sorted(s1.lower()) == sorted(s2.lower())

is_anagram("cristian", "Cristina") #True
is_anagram("Dave Barry", "Ray Adverb") #True
is_anagram("Nope", "Note") #False

True

In [ ]:
def space_weights(planet_a, weight, planet_b):
  planets = {
      "Mercury":	3.7,
      "Venus":	8.87,
      "Earth":	9.81,
      "Mars":	3.711,
      "Jupiter":	24.79,
      "Saturn":	10.44,
      "Uranus":	8.69,
      "Neptune":	11.15,
  }
  return round(planets[planet_b]/planets[planet_a]*weight, 2)

space_weights("Earth", 1, "Mars")
space_weights("Jupiter", 100, "Mercury")

14.93

In [ ]:
def remove_empty_arrays(arr):
  return [x for x in arr if x != []]

remove_empty_arrays([1, 2, [], 4, 0])

[1, 2, 4, 0]

In [ ]:
def parity_analysis(num):
	# return not (num%2 == 0) ^ (sum(map(int, str(num))) % 2 == 0) 
  return num%2 == sum(map(int, str(num)))%2


parity_analysis(243)
# 243 is odd and so is 9 (2 + 4 + 3)

parity_analysis(12)
# 12 is even but 3 is odd (1 + 2)

False

In [ ]:
def factor_chain(lst):
  return all(lst[i] % lst[i-1] == 0 for i in range(1, len(lst)))

factor_chain([1, 2, 4, 8, 16, 32]) # True
factor_chain([1, 1, 1, 1, 1, 1]) # True
factor_chain([2, 4, 6, 7, 12]) # False

True

# day 6

In [ ]:
def damage(damage, speed, time):
  # att_s = damage*speed
  # return 'invalid' if damage<0 or speed<0 else att_s if time == "second" else att_s*60 if time == "minute" else att_s*3600

  times = {"second": 1, "minute": 60, "hour": 3600}
  dps = damage*speed*times[time]
  return dps if damage > 0 and speed > 0 else 'invalid'

damage(40, 5, "second") # 200
damage(100, 1, "minute") # 6000
damage(2, 100, "hour") # 720000

720000

In [ ]:
def binary(decimal):
	return bin(decimal)[2:]

binary(10)

'1010'

In [ ]:
def move_to_end(lst, el):
  # return [i for i in lst if i != el] + [i for i in lst if i == el]
  return sorted(lst, key=lambda x: x is el)


move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [ ]:
def is_vowel_sandwich(s):
  # return len(s) == 3 and s[0] not in 'aiueo' and s[2] not in 'aiueo' and s[1] in 'aiueo'
  
  # return [1,0,1] == [1 if i not in 'aiueo' else 0 for i in s]

  con = lambda x: x not in 'aiueo'
  return len(s)==3 and con(s[0]) and not con(s[1]) and con(s[2])
  

is_vowel_sandwich("cat") # True
is_vowel_sandwich("ear") # False
is_vowel_sandwich("bake") # False

False

In [ ]:
def trace(lst):
  # summing = 0
  # for i,vector in enumerate(lst):
  #   summing += lst[i][i]
  # return summing

  return sum(lst[i][i] for i in range(len(lst)))

trace([
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
])

15

In [ ]:
def dict_to_list(d):
	return sorted(d.items())
 
dict_to_list({
  "D": 1,
  "B": 2,
  "C": 3
})

[('B', 2), ('C', 3), ('D', 1)]

In [ ]:
def asc_des_none(lst, s):
  return lst if s == 'None' else sorted(lst, reverse=(s=='Des'))
  
asc_des_none([4, 3, 2, 1], "Asc" ) # [1, 2, 3, 4]
asc_des_none([7, 8, 11, 66], "Des") # [66, 11, 8, 7]
asc_des_none([1, 2, 3, 4], "None") # [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
def cap_to_front(s):
  # lower = [i for i in s if i.islower()]
  # upper = [i for i in s if i.isupper()]
  # return ''.join(upper + lower)

  return ''.join(sorted(s, key=str.islower))

cap_to_front("hApPy")

'APhpy'

# day 5

In [ ]:
def correct_spacing(sentence):
  return ' '.join(sentence.split())

correct_spacing("The film   starts       at      midnight. ")

'The film starts at midnight.'

In [ ]:
def shhh(txt):
  # if len(txt) == 0:
  #   return '\"", whispered Edabit.'
  # txt = txt[0].upper() + txt[1:].lower()
  # return '\"{}", whispered Edabit.'.format(txt)

  return '\"{}", whispered Edabit.'.format(txt.capitalize())


shhh("") # '"", whispered Edabit.'
shhh("HI THERE!") # '"Hi there!", whispered Edabit.'

'"Hi there!", whispered Edabit.'

In [ ]:
def multiply_nums(nums):
  # mul = 1
  # for i in nums.split(','):
  #   mul *= int(i)
  # return mul
  return eval(nums.replace(',', '*'))

multiply_nums("3")

3

In [ ]:
def is_harshad(num):
  try:
    return not num % sum(int(i) for i in str(num))
  except ZeroDivisionError:
   return False

is_harshad(209)

True

In [ ]:
def alphanumeric_restriction(s):
	return any((s.isalpha(), s.isnumeric()))


alphanumeric_restriction("Bold")
alphanumeric_restriction("ed@bit")

False

In [ ]:
def last(a, n):
  # return 'invalid' if n > len(a) else [] if n == 0 else a[-n:]
  return 'invalid' if n>len(a) else a[len(a)-n:]

last([1, 2, 3, 4, 5], 1)
last([4, 3, 9, 9, 7, 6], 3)
last([1, 2, 3, 4, 5], 7)
last([1, 2, 3, 4, 5], 0)

[]

In [ ]:
def chatroom_status(users):
  if not len(users):
    return "no one online"
  elif len(users) == 1:
    return "{} online".format(users[0])
  elif len(users) == 2:
    return "{} and {} online".format(users[0], users[1])
  else:
    return "{}, {} and {} more online".format(users[0], users[1], len(users)-2)

chatroom_status(["pap_ier44", "townieBOY", "panda321", "motor_bike5", "sandwichmaker833", "violinist91"])

'pap_ier44, townieBOY and 4 more online'

In [ ]:
def square_digits(n):
  # st = ''
  # for i in str(n):
  #   st += str(int(i)**2)
  # return int(st)
  return int(''.join(str(int(i)**2) for i in str(n)))

square_digits(9119)

811181

# day 4

In [ ]:
def vow_replace(word, vowel):
  # return ''.join([i if i not in 'aiueo' else vowel for i in word])
  return ''.join(vowel if i in 'aiueo' else i for i in word)

vow_replace("apples and bananas", "u")

'upplus und bununus'

In [ ]:
def amplify(num):
  return [i*10 if not i%4 else i for i in range(1, num+1)]

amplify(4)

[1, 2, 3, 40]

In [ ]:
def unique(lst):
  # count_list = [lst.count(i) for i in lst]
  # unique_id = count_list.index(min(count_list))
  # return lst[unique_id]

  # return [i for i in lst if lst.count(i) == 1][0]

  return min(set(lst), key=lst.count)


unique([0, 1, 1, 1, 1, 1, 1, 1])

0

In [ ]:
def steps_to_convert(txt):
  # score = [0, 0]
  # for i in txt:
  #   if i.islower():
  #     score[0] += 1
  #   else:
  #     score[1] += 1
  # return min(score)

  lower = len([i for i in txt if i.islower()])
  upper = len([i for i in txt if i.isupper()])
  return min(lower, upper)

steps_to_convert("abCBA")

2

In [ ]:
def is_automorphic(n):
	# return n == int(str(n**2)[-(len(str(n))):])
  return str(n*n).endswith(str(n))

is_automorphic(76)

True

In [ ]:
def greet_people(names):
  return ', '.join('Hello ' + name for name in names)

greet_people(["Frank", "Angela", "Joe"])

'Hello Frank, Hello Angela, Hello Joe'

In [ ]:
def convert_binary(string):
  # zeros = 'abcdefghijklmABCDEFGHIJKLM'
  # return ''.join('0' if i in zeros else '1' for i in string)
  return ''.join(str(int(x > 'm')) for x in string.lower())

convert_binary("house")

'01110'

In [ ]:
def first_arg(*args):
  # try:
  #   return args[0]
  # except:
  #   return None
  return args[0] if args else None

def last_arg(*args):
  try:
    return args[-1]
  except:
    return None


print(first_arg(), last_arg(1,2,3))

None 3

# Day 3

In [ ]:
def ascii_capitalize(txt):
  return ''.join(i.lower() if ord(i)%2 else i.upper() for i in txt)

ascii_capitalize("to be or not to be!")  #"To Be oR NoT To Be!"

'To Be oR NoT To Be!'

In [ ]:
def reverse(txt):
  # return ''.join([i.upper() if i.islower() else i.lower() for i in txt])[::-1]
  return txt[::-1].swapcase()

reverse("Hello World")

'DLROw OLLEh'

In [ ]:
def convert_cartesian(x, y):
	# return [[x[i], y[i]] for i in range(len(x))]
  # return list(map(list, zip(x,y)))
  return [list(a) for a in zip(x,y)]

convert_cartesian([1, 5, 3, 3, 4], [5, 8, 9, 1, 0])

[[1, 5], [5, 8], [3, 9], [3, 1], [4, 0]]

In [ ]:
def list_operation(x, y, n):
	return [i for i in range(x, y+1) if i % n == 0]

list_operation(1, 10, 3)

[3, 6, 9]

In [ ]:
import copy

def clone(lst):
	# lst.append([*lst])
  # lst.append(lst[:])
  # lst.append(list(lst))
  # lst.append(copy.copy(lst))
  lst.append(copy.deepcopy(lst))
  return lst

clone([1, 1])

[1, 1, [1, 1]]

In [ ]:
def color_invert(rgb):
  return tuple(abs(i-255) for i in rgb)

color_invert((0, 0, 0))

(255, 255, 255)

In [ ]:
def halve_count(a, b):
  count = 0
  a = a/2
  while a > b:
    a /= 2
    count += 1
  return count

halve_count(1324, 98)
# (1324 -> 662 -> 331 -> 165.5)

3

In [ ]:
def sum_of_two(a, b, v):
  return any(i+j == v for i in a for j in b)

sum_of_two([1, 2], [4, 5, 6], 5)

True

# Day 2

In [ ]:
def convert_to_decimal(perc):
  return [float(i[:-1])/100 for i in perc]

convert_to_decimal(["33%", "98.1%", "56.44%", "100%"])

[0.33, 0.981, 0.5644, 1.0]

In [ ]:
def is_subset(lst1, lst2):
	# for i in lst1:
	# 	if i not in lst2:
	# 		return False
	# return True

  # return set(lst1) <= set(lst2)

  return all(i in lst2 for i in lst1)


is_subset([3, 2, 5], [5, 3, 7, 9, 2])
is_subset([1, 2], [3, 5, 9, 1])

False

In [ ]:
import re

def has_digit(txt):
  # for i in txt:
  #   if i.isdigit():
  #     return True
  # return False
  return bool(re.search('\d', txt))


has_digit("abwekz")
has_digit("c8")

True

In [ ]:
def letters_only(txt):
	# letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
	# return ''.join([i for i in txt if i in letters])
  return ''.join([i for i in txt if i.isalpha()])

letters_only("^,]%4B|@56a![0{2m>b1&4i4")

'Bambi'

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
  def compare_age(self, other):
    if self.age > other.age:
      return "{} is younger than me.".format(other.name)
    elif self.age < other.age:
      return "{} is older than me.".format(other.name)
    else:
      return "{} is the same age as me.".format(other.name)
      
		

p1 = Person("Samuel", 24)
p2 = Person("Joel", 36)
p3 = Person("Lily", 24)

p1.compare_age(p2)

'Joel is older than me.'

In [ ]:
def get_budgets(lst):
  return sum(i['budget'] for i in lst)
	

get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [ ]:
def replace_vowels(txt, ch):

	# vowels = 'aiueo'
	# new_str = ''
	# for i in txt:
	# 	if i in vowels:
	# 		new_str += ch
	# 	else:
	# 		new_str += i
	# return new_str
  return ''.join([i if i not in 'aiueo' else ch for i in txt])
			
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

In [ ]:
def sum_of_evens(lst):
	return sum(i for vector in lst for i in vector if i % 2 == 0)
			
sum_of_evens([
  [1, 0, 2],
  [5, 5, 7],
  [9, 4, 3]
])

6

# Day 1

In [ ]:
def mean(num):
  num = str(num)
  return int(sum(int(i) for i in num) / len(num))

mean(12345)

3

In [ ]:
def how_many_times(msg):
	abj = "abcdefghijklmnopqrstuvwxyz"
	count = 0
	for ab in msg:
		count += abj.find(ab) + 1
	return count

how_many_times("qudusayo")

123

In [ ]:
from collections import OrderedDict

def setify(lst):
	return list(OrderedDict.fromkeys(lst))
 
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [ ]:
def remove_enemies(names, enemies):
  new_names = []
  for name in names:
    if name not in new_names:
      new_names.append(name)
  
  for enemy in enemies:
    if enemy in new_names:
      new_names.remove(enemy)

  return new_names

remove_enemies(["John", "Skye", "Alexander", "Skye", "Tony"], ["Skye", "John"])

['Alexander', 'Tony']

In [ ]:
def maurice_wins(m_snails, s_snails):
	return m_snails[1] > s_snails[0] and m_snails[2] > s_snails[1]

maurice_wins([6, 8, 9], [7, 12, 14])

False

In [ ]:
def add_indexes(lst):
	return [i+j for i,j in enumerate(lst)]

add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [ ]:
def index_multiplier(lst):
	return sum(i*j for i,j in enumerate(lst))
 
index_multiplier([1,2,3,4,5])

40

In [ ]:
def sort_by_length(lst):
  leng = [len(i) for i in lst]
  sort_leng = sorted(leng)
  new_lst = []
  for num in sort_leng:
    if num in leng:
      id = leng.index(num)
      new_lst.append(lst[id])

  return new_lst

sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']